.App {
  font-family: sans-serif;
  text-align: center;
}

#dateLists {
  display: flex
}

.dateList {
  flex: 1
}

#error {
  color: red;
}

#success {
  color: green;
}

.divider {
  height: 2px;
  width: auto;
  background-color: lightgray;
  margin: 5px 0px
}

.year {
  font-size: 20px;
  font-weight: bold;
  margin: 5px;
}

input {
  cursor: pointer;
}
